@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

:root {
  --darkMain: #1c686a;
  --lightMain: #faf9ed;
  --darkAccent: #b9452e;
  --lightAccent: #61c6af;
  --gold: #e5873c;
}

html {
  font-family: "Noto Sans KR", sans-serif;
  background: var(--lightMain);
  height: 100vh;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 950px;
  height: 700px;
  background: #ffffff;
  box-shadow: 0px 0px 5px;
}

#tooltip {
  border: 1px solid var(--darkMain);
  box-shadow: 0px 0px 5px black;
  width: 130px;
  height: 70px;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: var(--lightMain);
  opacity: 0;
}

.bar {
  fill: var(--darkMain);
}

.bar:hover {
  fill: var(--lightAccent);
}

.title {
  font-size: 40px;
  padding-top: 20px;
  width: 100%;
}
